# migrations
backend/core/migrations/*

# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yar-debug.log*
frontend/yarn-error.log*

# DB
backend/db.sqlite3
backend/db_backup.sqlite3

# Pycache
backend/backend/__pycache__/
backend/core/__pycache__/
*.pyc
backend/core/models/__pycache__/

# PyCharm
.idea/

# VSCode
.vscode/

# Virtual Environments
backend/venv

# Heroku
local_settings.py
