:root {
  --sidebar-section-height: 100px;
}

.hoverdelay * {
	/*Hover animation*/
	-webkit-transition: background-color .15s ease-out;
	-moz-transition: background-color .15s ease-out;
	-o-transition: background-color .15s ease-out;
	transition: background-color .15s ease-out;
}

.col-fixed-250 {
    width:250px;
    transition: 0.5s;
    position:fixed;
    height:100%;
    z-index:1;
}

.col-offset-250 {
    padding-left:250px;
    padding-right: 0px;
    z-index:0;
}

#navbar-secondary {
	height: 100%;
	transition: 0.5s;
	background-color:#DDDDDD;
	padding:0px;
	white-space: nowrap;
	overflow-x: hidden;

}

#navbar-secondary #foot {
	position: absolute;
	bottom: 0px;

}

#navbar-secondary #back-button {
	color: white;
	font-size:1.5em;
	display:table;
	justify-content: space-between;
	width: 100%;
	height:var(--sidebar-section-height);
	background-color:#00AADD;
	overflow-x: hidden;
	white-space: nowrap;
}

#navbar-secondary #back-button:hover {
	background-color: #0097C4;
	cursor: pointer;
}

#navbar-secondary a, #foot a {
	width:100%;
	height: 40px;
	justify-content: center;
	text-align: center;
	color: black;
}

#navbar-secondary hr {
	padding:0px;
	margin: 0px;
}

#navbar-secondary a:hover, .active {
	background-color:#BBBBBB;
}

/*main sidebar*/
.navbar-primary {
    height: 100%;
    width: 0;
    position: fixed;
    transition: 0.5s;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #CCCCCC;
    overflow-x: hidden;
}

.navbar-primary a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.3s;
    width: 100%;
    height: var(--sidebar-section-height);
    overflow: hidden;
    white-space: nowrap;
}



.navbar-primary .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .navbar-primary {padding-top: 15px;}
  .navbar-primary a {font-size: 18px;}
}

.navbar-primary a:nth-child(1) {
	background-color: #00924D;
}

.navbar-primary a:nth-child(2) {
	background-color: #C41F33;
}

.navbar-primary a:nth-child(3) {
	background-color: #00AADD;
}

.navbar-primary a:nth-child(4) {
	background-color: #E6C53C;
}

.navbar-primary a:nth-child(1):hover {
	background-color: #007840;
}

.navbar-primary a:nth-child(2):hover {
	background-color: #AB1B2C;
}

.navbar-primary a:nth-child(3):hover {
	background-color: #0097C4;
}

.navbar-primary a:nth-child(4):hover {
	background-color: #CCAF35;
}


#back-button {
	display:table;
	color: white;
	width: 100%;
	height: 100%;
}