.col-250-fixed {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
} 

@media (max-width: 768px) {
  .col-250-fixed {
    display: none; 
  } 
}

.content {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}